
<div> 
  <select [(ngModel)]="selectedClient" (ngModelChange)="onSelectedClient($event)">
    <option *ngFor="let client of listClient" [value]="client.id"> 
      {{ client.firstname }}   
    </option>
  </select>
  <table *ngFor="let client of listClient async">
          <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.firstname }}</td>
            <td>{{ client.address }} </td>
          </tr>
  </table>
  

   <div>
     <table>
    <tr *ngFor="let account of listAccount">
    <td>TYPE : {{ account.card_type }}</td>
    <td> Number : {{ account.number }} </td>
    <td>Balance : {{ account.balance }}</td>
    </tr>
     </table>

   </div>
</div>

<router-outlet></router-outlet>
